<nav class="flex mb-4 mt-2 mx-2">
    <div class="w-1/2 flex flex-row">
        <a href="/" class="rounded-lg px-4 py-2 hover:bg-blue">Home</a>
        <a href="/privacy" class="rounded-lg px-4 py-2 hover:bg-blue">Privacy</a>
    </div>

    <div class="w-1/2 flex flex-row-reverse">
    <% unless rodauth.logged_in? %>
        <a href="<%= rodauth.login_path %>" class="rounded-lg px-4 py-2 hover:bg-blue">Sign in</a>
        <a href="<%= rodauth.create_account_path %>" class="rounded-lg px-4 py-2 hover:bg-blue">Sign up</a>
    <% else %>
        <a href="/logout" class="rounded-lg px-4 py-2 hover:bg-blue">Logout</a>
    <% end %>
</nav>