<nav class="flex p-4">
    <div class="w-1/2 flex flex-row gap-4">
        <a href="/" class=hover:underline">Home</a>
        <a href="/privacy" class=hover:underline">Privacy</a>
    </div>

    <div class="w-1/2 flex flex-row flex-row-reverse gap-4">
        <a href="/create-account" class=hover:underline">Sign Up</a>
        <a href="/login" class=hover:underline">Login</a>
    </div>
</nav>