<% unless rodauth.login_form_footer_links.empty? %>
  <div class="mt-4">
    <%== rodauth.login_form_footer_links_heading %>
  </div>

  <ul class="grid grid-cols-1 gap-4 mt-2">
    <% rodauth.login_form_footer_links.sort.each do |_, link, text| %>
      <li class="btn bg-dark0-hard"><%= link_to text, link %></li>
    <% end %>
  </ul>
<% end %>
