<div class="w-80 mx-auto text-center">
    <%= render layout: 'layouts/unless_logged_in' do %>
        <h1 class="text-xl">Login</h1>
        <%= render "login_form_header" %>
        <%= render "login_form" %>
        <%= render "login_form_footer" %>
    <% end %>
</div>